
:root{
  --body-bg:#f7f7f7;
  --body-color: #070707;
}


body{
  background-color: var(--body-bg);
  color: var(--body-color);
} 

body.dark {
  background: #252525;
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  text-align: var(--bs-body-text-align);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  
}

body.lead {
  color: var(--body-color);
}

.lead.dark {
  color: var(--body-bg);
  --bs-navbar-brand-font-size: 1.25rem;
}

.dark.lead.body .btn.btn-outline-secondary {
  color: var(--body-bg);
}

button.btn.btn-outline-secondary {
  color: var(--body-color);
  
}



.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card-img-top {
    width: 100%;
    height: 22vw;
    object-fit: scale-down;
}

.card {
    width: 100%;
}

.checkbox {
    width: 300px;
    margin: 100px auto;
}

.form-check {
    cursor: pointer;
    margin-top: 30px;
    margin-left: 30px;
}

  
  .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
    margin-left: 22px;
    margin-top: 5px;
  }
  
  
  .label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
  }
  
  .checkbox:checked + .label .ball {
    transform: translateX(24px);
  }
  
  .fa-moon {
    color: #f1c40f;
  }
  
  .fa-sun {
    color: #f39c12;
  }