.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card-img-top {
    width: 100%;
    height: 22vw;
    object-fit: scale-down;
}

.card {
    width: 100%
}